body {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:14px;
    padding:0;
    color:#333;
}

h1 {
	font-size: 20px;
	font-weight: 200;
	color: #336699;
	width:100%;
	text-align:center;
}

div {
	box-sizing:border-box;
}

a, a:visited, a:active {
	color:#336699;
}

.italic {
	font-style:italic;
}

.fake-link:hover, .pagination-bar li.current-page a {
    text-decoration:none;
}

.right-logo {
    box-sizing:border-box;
    height:40px;
    padding:10px 5px;
}

.hidden {
    display:none;
}

.big {
    font-size:25px;
}

.bold {
    font-weight:bold;
}

div.background {
    padding:47px 20px 0 20px;
    background:url(/assets/img/vertx_hero.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
    max-height: 15px;
}

div.content {
    padding:0px 20px 0 20px;
}

.service {
	background-color:#fafafa;
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
	color:#333333;
	border:1px solid rgba(0, 0, 0, 0.05);
	/*border-radius:4px;*/
}

.service > div {
	padding:10px;
}

.service-head {
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
	font-size:18px;
	color:#336699;
	cursor:pointer;
}

.important-text {
	color:#336699;
	
}

.service-main-content {
	font-size:14px;
}

.service-foot {
	border-top:1px solid rgba(0, 0, 0, 0.05);
}

.no-style-type {
	list-style-type:none;
	margin:0;
	padding:0;
}

.half-width {
	width:47%;
	vertical-align:top;
}

.left {
	float:left;
}

.right {
	float:right;
}

.flat-list {
	display:inline-block;
}

.flat-list li {
	display:inline-block;
}

.versions {
	/*padding-left:10px;*/
}

.tag {
	padding:4px;
	background-color:rgba(40,85,124, 0.5);
	color:white;
	border-radius:2px;
	font-size:11px;
	margin:0 2px 0px 2px;
	cursor:pointer;
}
.version {
	padding:4px;
	border:1px solid #dadada;
	margin:0px 2px;
	font-size:12px;
    border-radius:2px;
	background-color:white;
}

.service-infos {
	border-collapse:collapse;
	/*border:1px solid #dadada;*/
}

.service-infos td {
	padding:5px 15px;
	border-bottom:1px dotted #CCC;
}

.service-infos tr:nth-child(even){
	background-color:white;
}

.service-infos tr:first-child td{
	border-top:1px dotted #CCC; 
}
.latest-version {
	font-size:14px;
}

.reset {
	clear:both;
}

.pagination-bar {
    margin:0;
    margin-top:10px;
    padding:0;
    height:43px;
    width:100%;
    border:1px solid rgba(0,0,0, 0.05);
    background-color:#fafafa;
    border-box:box-content;
}

.pagination-bar li a {
    padding: 0px 10px;
    height: 40px;
    line-height:40px;
    float:left;
    width:50px;
    box-sizing:content-box;
    text-align:center;
    margin-top:-1px;
}

.pagination-bar li.page-link a {
    cursor:pointer;
}

.pagination-bar li.page-link a:hover {
    text-decoration:none;
    background-color:white;
}


.pagination-bar .current-page a {
    border-top:3px solid rgba(0, 0, 0, 0.05);
    border-left:1px solid rgba(0, 0, 0, 0.05);
    border-right:2px solid rgba(0, 0, 0, 0.05);
    border-bottom:none;
    background-color:white;
}

.search-bar {
    height:30px;
    margin-top: 12px;
}

.search-bar .text-field {
    height:100%;
    display:inline-block;
    width:300px;
    border:1px solid #CCC;
    margin-right:10px;
    padding-left:5px;
}

footer {
    margin-top:10px;
    padding:10px 20px;
    position:relative;
    display:block;
    width:100%;
}

footer::after {
    content:"";
    background:url(/assets/img/vertx_hero.png);
    opacity:0.4;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-1;
    border-top:5px solid transparent;
}

footer a {
}

footer a:hover {
    text-decoration:underline;
}

header {
    margin-bottom:20px;
    position:fixed;
    width:100%;
    background:rgba(238, 238, 238, 0.7);
    box-shadow:0px 5px 0px 0px rgba(0, 0, 0, 0.25);
}

header nav {
}

header .vertx-logo {
    padding:10px 20px;
    box-sizing:border-box;
    height:40px;
}

header.useful-links {
    padding:0;
}

header .useful-links li {
    text-align:center;
    line-height:45px;
    height:32px;
}

header .useful-links a {
    padding:0 20px;
    display:inline-block;
    text-decoration:none;
    color:#333;
}

header .useful-links li a:hover {
    background:rgba(238, 238, 238, 0.8);
}

.back-to-top {
    position:fixed;
    right:10px;
    bottom:10px;
    z-index:1000;
}

.top-link {
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    display: block;
    margin: 0;
    background: #243446 url(http://static.jboss.org/common/images/top.png) no-repeat center center;
}

.top-link:hover {
    background-color:#4a5d75;
}

::-webkit-input-placeholder { font-style:italic; }
::-moz-placeholder { font-style:italic; } /* firefox 19+ */
:-ms-input-placeholder { font-style:italic; } /* ie */
input:-moz-placeholder { font-style:italic;padding-left:5px; }


.api-switch {
    line-height:30px;
}