body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	padding:0 20px;
}

h1 {
	font-size: 20px;
	font-weight: 200;
	color: #33a098;
	width:100%;
	text-align:center;
}

div {
	box-sizing:border-box;
}

a, a:visited, a:active {
	color:#006DB4;
}


/* Real CSS, keep it, adapt it to your needs */
.service {
	background-color:#fafafa;
	width:100%;
	margin-bottom:10px;
	margin-top:10px;
	color:#333333;
	border:1px solid rgba(0, 0, 0, 0.05);
	/*border-radius:4px;*/
}

.service > div {
	padding:10px;
}

.service-head {
	border-bottom:1px solid rgba(0, 0, 0, 0.05);
	font-size:18px;
	color:#33a098;
	cursor:pointer;
}

.service-main-content {
	font-size:16px;
}

.service-foot {
	border-top:1px solid rgba(0, 0, 0, 0.05);

}

.no-style-type {
	list-style-type:none;
	margin:0;
	padding:0;
}

.half-width {
	width:47%;
	vertical-align:top;
}

.left {
	float:left;
}

.right {
	float:right;
}

.flat-list {
	display:inline-block;
}

.flat-list li {
	display:inline-block;
}

.versions {
	/*padding-left:10px;*/
}

.tag {
	padding:4px;
	background-color:#33a098;
	color:white;
	border-radius:1px;
	font-size:11px;
	margin:0 2px 0 0;
	cursor:pointer;
}
.version {
	padding:4px;
	border:1px solid #dadada;
	margin:0px 2px;
	font-size:12px;
	background-color:white;
}

.service-infos {
	border-collapse:collapse;
	/*border:1px solid #dadada;*/
}

.service-infos td {
	padding:5px 15px;
	border-bottom:1px dotted #CCC;
}

.service-infos tr:nth-child(even){
	background-color:white;
}

.service-infos tr:first-child td{
	border-top:1px dotted #CCC; 
}
.latest-version {
	font-size:14px;
}

.reset {
	clear:both;
}