<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="/assets/stylesheets/main.css">
		<link rel="stylesheet" href="/assets/stylesheets/libs/bootstrap.min.css">
		<link rel="stylesheet" href="/assets/stylesheets/libs/bootstrap-theme.min.css">
		<script type="text/javascript" src="/assets/scripts/libs/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/libs/underscore-1.7.0.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/libs/bootstrap.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/libs/react-with-addons.min.js"></script>
		<script type="text/javascript" src="/assets/scripts/libs/JSXTransformer.js"></script>
		<script type="text/jsx" src="/assets/components/App.jsx"></script>
		<script type="text/javascript" src="/assets/scripts/app.js"></script>
	</head>
	<body>
	<!-- 
		<h1>Services registry</h1>
		<div ng-controller="ServicesListCtrl" ng-cloack>
			<div class="search-bar">
				<span class="search"><input type="text" ng-model="filters.search" placeholder="Search service" ng-change="updateMatchingServices()" /></span>
				<span class="filters" ng-if="filters.tags.length > 0">Filters: <span class="tag" ng-click="removeTagFromSearch(tag)" ng-repeat="tag in filters.tags">{{tag}}</span></span>
				<span class="counters">{{matchingServices.length}} / {{services.length}} services</span>
				<div class="reset"></div>
			</div>
			<div class="services" ng-if="status == 'Finished'">
				<service ng-repeat="service in matchingServices" service="service"></service>
			</div>
		</div>
	-->
	</body>
</html>